<ion-header>

  <ion-navbar>
    <ion-title>{{ 'INQUIRY.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let inquire of inquires">
    <ion-item (click)="itemClicked(inquire)">
      <ion-avatar item-start>
        <img src={{inquire?.imageUrl}}>
      </ion-avatar>
      <h2>{{inquire?.description}}</h2>
      <h3 *ngIf="inquire.formattedComments!=null">Your Comments</h3>
      <ul>
        <li *ngFor="let comm of inquire.formattedComments">
          {{comm}}
        </li>
      </ul>
    </ion-item>
  </ion-list>
</ion-content>