page-type-selection {
    .toolbar-title-md {
        text-align: center;
    }
    ion-item.sign-img {
        width: 250px;
        height: 170px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0px
    }
    ion-row.select-btn {
        width: 370px;
        margin: 0 auto;
    }
    button.btn-client {
        height: 50px;
        border-radius: 5px;

    }
    button.btn-pra {
        height: 50px;
        background-color: #f59540;
        border-radius: 5px;
    }
    .btn-padding{
        padding: 5px;
    }
    .icon-padding{
        padding-right: 13px !important;
        font-size: 1.4em !important;
    }
}
