page-type-selection {
    .toolbar-title-md {
        text-align: center;
    }
    ion-item.sign-img {
        width: 250px;
        height: 170px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0px
    }
}
