<ion-header>

  <ion-navbar>
    <ion-title>{{ 'FEEDBACK.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let snap of snaps">
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src={{snap?.imageUrl}}>
        </ion-avatar>
        <ion-label><h2>{{snap?.description}}</h2></ion-label>
        <ion-label icon-left class="calendar-float">
          <ion-icon name="calendar"></ion-icon>
          {{snap?.timeStamp | date: 'dd/MM/yyyy'}}
        </ion-label>
      </ion-item>
      <ion-card-content>
        <h3 *ngIf="snap.formattedComments!=null">Comments</h3>
        <ul>
          <li *ngFor="let comm of snap.formattedComments">
            {{comm}}
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <div padding>
      <button ion-button color="primary" (click)="openCamera()" block>{{ 'FEEDBACK.BTN_TAKEPHOTO' | translate }}</button>
    </div>
  </ion-list>
</ion-content>