<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PRACTITIONER_PROFILE.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <h2 align="center">{{ 'TITLE' | translate }}</h2>
  <p align="center">{{ 'SUBTITLE' | translate }}</p> -->
  <ion-list>
    <ion-item class="sign-img">
      <ion-img width="250" height="170" align="center" [src]="logoUrl" *ngIf="logoUrl"></ion-img>
    </ion-item>
    <ion-item class="prac">
      <div padding>
        <ion-avatar item-start (click)="capture()">
          <img [src]="base64Image" *ngIf="base64Image">
        </ion-avatar>
      </div>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="progress-steps">
          <ion-col col-4 class="tbl">
            <div class="progress-btns-deactive">1</div>
          </ion-col>
          <ion-col col-4>
            <div class="progress-btns-active tbl-cell">2</div>
          </ion-col>
          <ion-col col-4>
            <div class="progress-btns-deactive">3</div>
          </ion-col>
        </ion-col>
        <ion-col col-6 class="progress-steps">
          <div>
            <button ion-button (click)="upload()" color="primary" block>Next</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>