page-prac-signup-img-upload {

}
/* ion-card.card.card-md img {
    display: block;
    width: 100%;
    height: auto;
}
ion-card.card.card-md {
    width: 200px;
    height: auto;
    margin: 0 auto;
} */