page-practitioner-profile {
.icon-lbl{
    text-align: center;
}
.span-lbl{
    display: block;
}
.ion-item-background{
    background-color: #EEEFEF;
}
.background-padding{
    padding: 0px !important;
}
.background-with-padding{
    padding: 16px;
}
}
